<div class="cart-container">
    <a href="/cart" class="cart-link">
        <div class="cart-icon">
            <img src="{{ 'cart.svg' | asset_url }}" alt="Cart Icon" width="24" height="24">
            <span class="cart-count">5</span> <!-- Aqui será dinâmico no Shopify -->
        </div>
        <span class="cart-text">CART</span>
    </a>
</div>
