<div class="search-bar">
    <form>
        <input type="text" name="q" placeholder="Search: Lorem Ipsum">
        <button type="submit" class="search-button">
            <span>Search</span>
            <img src="{{ 'search-icon.svg' | asset_url }}" alt="Search Icon" width="11.91" height="11.59">
        </button>
    </form>
</div>
