.header{
    background-color: #fff; 
    color: #fff; 
    padding: 28px 0;
    width: 100%;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 135px;
}

.left {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.right {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.center:hover,
.right:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}


.left img {
    max-width: 100%;
    max-height: 100%;
    width: 139.36px;
    height: 42px;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    30% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    70% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
}

.right:hover {
    animation: bounce 1.5s ease-in-out;
}

@keyframes zoom-in-out {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.search-button img {
    transition: transform 0.7s ease-in-out;
}

.search-bar:hover .search-button img {
    animation: zoom-in-out 1.2s ease-in-out infinite;
}


