/* Navigation */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    gap: 53px;
    width: 100%;
    height: 46px;
    background: #FFFFFF;
}

/* Navigation Menu */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 53px;
    padding: 0;
    margin: 0;
}

/* Navigation Items */
.nav-item {
    display: flex;
    align-items: center;
    text-align: center;
}

/* Navigation Links */
.nav-link {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #252525;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #252525;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

@media screen and (max-width: 1024px) {

  .navigation{
    display: none;
  }

}
