.top-notification-bar {
    background-color: #000; 
    color: #fff; 
    font-size: 16px;
    padding: 10px 0;
    width: 100%;
    position: relative;
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInSlideDown 0.8s ease-out forwards;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
}

.top-notification-bar .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.top-left, .top-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.top-left {
    left: 10px;
}

.top-right {
    right: 10px;
}

.top-left:hover, .top-right:hover {
    transform: translateY(-50%) scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.top-left a:hover, .top-right a:hover {
}

@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) {
    .top-right a, .top-left a {
        display: none;
        margin: 0 30px;
    }
}
